language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  # PyPy versions
  #- "pypy-5.3.1"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
# command to run tests
script:
  - python setup.py check
  - py.test --cov=training_data --cov=gym_2048 .
  - python train_keras_model.py test_data.csv
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.4 ]]; then codecov; fi
